.consult-title {
    position: relative;
    left: 220px;
    top: 60px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FF6185;
}

.consult-area {
    width: 1089px;
    min-height: 244px;
    left: 169px;
    top: 265px;

    /* White */

    background: #FFFFFF;
    /* Shadow Card */

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.consult-prof-pic {
    position: relative;
    width: 80px;
    height: 80px;
    left: 58px;
    top: 20px;
}

.consult-line {
    position: relative;
    width: 1035px;
    height: 0px;
    left: 7px;
    top: 0px;

    border: 1px solid rgba(183, 183, 183, 0.5);
}

.consult-bold-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.consult-light-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #6C6C6C;
}

.consult-light-bold-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

.text-pos-1 {
    position: relative;
    left: 0px;
    top: -8px;
}

.text-pos-2 {
    position: relative;
    left: 0px;
    top: -12px;
}

.text-pos-3 {
    position: relative;
    left: 0px;
    top: -19px;
}

.text-pos-doc {
    position: relative;
    left: 80px;
    top: -20px;
}

.consult-wait-text {
    position: relative;
    left: 50px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #6C6C6C;
}