.content-item {
    width: 300px;
    height: 390px;

    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(82, 82, 82, 0.18);
    border-radius: 5px;

    margin: 20px;
}

.content-image {
    position: relative;
    width: 300px;
    height: 180px;
    left: -1px;
    top: -1px;

    border-radius: 5px;
}

.content-info-1 {
    position: relative;
    width: 270px;
    height: 40px;
    left: 15px;
    top: 15px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    align-items: center;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    color: #000000;
}

.content-info-2 {
    position: relative;
    width: 270px;
    height: 50px;
    left: 15px;
    top: 10px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    font-family: Montserrat;
    font-style: normal;
    font-size: 12px;
}

.content-tag-pos {
    position: relative;
    width: 270px;
    height: 60px;
    left: -15px;
    top: 8px;

    display: flex;
    flex-wrap: wrap;
}

.content-tag-rect {
    position: relative;
    min-width: 20px;
    height: 25px;
    margin-right: 7px;
    margin-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;

    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 50px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    align-items: center;
    text-align: center;

    color: #BFBFBF;
}